Someone has requested password reset for your account>

  <%= url_for edit_password_reset_url(user: {password_reset_token: @user.password_reset_token,
                                                          email: @user.email}) %>%

