
<section class="vh-100" style="background-color: #2F4F4F;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <%= render 'shared/flash' %>
            <h3 class="text-center">Log in</h3>
            <p class="text-center">Please enter your email and password</p>
            <div class="form-control mx-auto">
              <%= form_with scope: :session, url: session_path, data: {turbo: false} do |form| %>

                <%= form.label :email, class: "form-label" %>
                <%= form.email_field :email, placeholder: "E-mail", class: "form-control" %>

                <%= form.label :password, "Password", class: "form-label mt-3" %>
                <%= form.password_field :password, class: "form-control mb-3" %>
                <div class="text-end">
                  <%= form.submit "Sign in", class: "btn btn-primary mt-3 mb-2"%>

                </div>
                <div class="text-end"><%= link_to "Forgot password", new_password_reset_path %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
