<section class="vh-100" style="background-color: #2F4F4F;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <%= render 'shared/errors', object: @user %>
            <h4 class="text-center my-3 pb-3">Enter new password</h4>
            <div class="form-control mx-auto">
              <%= form_with data: {turbo: false}, model: @user, url: password_reset_path, method: :patch do |form| %>
                <%= form.hidden_field :password_reset_token, value: @user.password_reset_token %>
                <%= form.hidden_field :email, value: @user.email %>

                <%= form.label :password, class: "form-label mt-3" %>
                <%= form.password_field :password, class: "form-control" %>

                <%= form.label :password_confirmation, class: "form-label mt-3" %>
                <%= form.password_field :password_confirmation, class: "form-control" %>
                <div class="text-end">
                  <%= form.submit "Reset my password!", class: "btn btn-primary mt-3 mb-2"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
