<section class="vh-100" style="background-color: #2F4F4F;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">Reset password</h4>
            <div class="form-control mx-auto">
              <%= form_with data: {turbo: false}, url: password_reset_path do |form| %>
                <%= form.label :email, class: "form-label mt-3" %>
                <%= form.email_field :email, class: "form-control" %>
                <div class="text-end">
                  <%= form.submit "Submit", class: "btn btn-primary mt-3 mb-2"%>
                </div>
                <div class="text-end"><%= link_to "Back", new_session_path %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
