<div class="form-control mx-auto">
  <%= form_with data: {turbo: false}, model: user do |form| %>
    <%= form.label :name, "Name", class: "form-label" %>
    <%= form.text_field :name, required: true, class: "form-control" %>

    <%= form.label :email, class: "form-label mt-3" %>
    <%= form.email_field :email, class: "form-control" %>
    <% unless user.new_record?%>
      <%= form.label :old_password, "Old password", class: "form-label mt-3" %>
      <%= form.password_field :old_password, class: "form-control" %>
    <% end %>
    <%= form.label :password,(user.new_record? ? "Password" : "New password"), class: "form-label mt-3" %>
    <%= form.password_field :password, class: "form-control" %>

    <%= form.label :password_confirmation,(user.new_record? ? "Password confirmation" : "New password confirmation"),
      class: "form-label mt-3" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>

    <div class="text-end">
      <%= form.submit (user.new_record? ? "Register" : "Save"), class: "btn btn-primary mt-3 mb-2"%>
    </div>
  <% end %>
</div>
