<section class="vh-100" style="background-color: #2F4F4F;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <%= render 'shared/flash' %>
            <h4 class="text-center my-3 pb-3"><%= @user.name %> profile </h4></p>
            <p class="text-center">Name: <%= @user.name %></p>
            <p class="text-center">Email: <%= @user.email %></p>
            <p class="text-center">Todos: <%= @user.todos.count %></p>
            <p class="text-center"><%= link_to "Edit prifole", edit_user_path(@user), class: "text-dark" %></p>
            <p class="text-center"><%= link_to "Home", root_path, class: "text-dark" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
