<%= form_with data: {turbo: false}, class: "d-flex flex-fill", model: todo do |form| %>
  <%= form.text_field :title, placeholder: "Enter new to do", required: true, class: "form-control mx-2" %>
  <% if todo.persisted?%>
    <%= form.check_box :status, class: "mx-1" %>
    <%= form.label :status, "Done", class: "form-label mt-2" %>
  <% end %>
  <%= form.submit "Save", class: "btn mx-2 btn-primary"%>
<% end %>
