<% todos.each do |todo| %>
  <tr>
    <td>
      <% if todo.status == true %>
        <input class="form-check-input" type="checkbox" style="background-color: #000000; border-color: #000000" value="" checked disabled>
        <% else %> <input class="form-check-input" type="checkbox" style="background-color: #000000; border-color: #000000" value="" disabled>
      <% end %>
    </td>
    <td><%= truncate (todo.title), length: 50 %></td>
    <td class="text-center">
      <div class="d-inline-block">
        <%= button_to "Edit", edit_todo_path(todo), method: :get, class: "btn btn-sm btn-primary" %>
      </div>
      <div class="d-inline-block">
        <%= button_to "Delete", todo_path(todo),
          data: {turbo_confirm: "Удалить дело?"}, method: :delete, class: "btn btn-sm btn-primary" %>
      </div>
    </td>
  </tr>
<% end %>
