 <section class="vh-100" style="background-color: #2F4F4F;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">Edit Todo № <%= @todo.id%> </h4>
            <%= render 'form', todo: @todo %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
