<section class="vh-100" style="background-color: #2F4F4F;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <%= render 'shared/flash' %>
            <h4 class="text-center my-3 pb-3">To Do Application</h4>
            <nav class="navbar bg-light">
              <%= render 'form', todo: @todo %>
            </nav>
            <table class="table table-striped mb-4 text-center">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Todo Item</th>
                  <th scope="col" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <%= render 'todos', todos: @todos %>
              </tbody>
            </table>
            <nav class="pagination justify-content-center mt-3"><%== pagy_bootstrap_nav @pagy, class: "bg-dark" %></nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
