<nav class="navbar bg-dark">
  <div class="container-fluid text-end justify-content-end">
      <% if current_user.present? %>
      <%= link_to "#{current_user.name}", user_path(current_user),
          class: "align-middle fst-italic me-3 text-decoration-none text-light " %></span>
      <%= button_to "Log out", session_path, method: :delete, class: "btn btn-sm btn-dark" %></span>
      <% else %>
        <span><%= button_to "Sign up", new_user_path, method: :get, class: "btn btn-sm btn-dark me-3" %></span>
        <span><%= button_to "Sign in", new_session_path, method: :get, class: "btn btn-sm btn-dark me-3" %></span>
      <% end %>
  </div>
</nav>
